.main-header {
  background-image: url("https://azcdn.doz.pl/image/d/article/c7a99f38-scalecrop-840x350.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
