<div class="pt-4">
  <div class="container px-lg-5">
    <div class="row">
      <h1 class="text-center pb-4">Zabiegi które wykonuje</h1>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light" *ngFor="let products of products">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">{{ products.name }}</h2>
            <p class="mb-0">{{ products.shortDesc }}</p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">Masaż Klasyczny</h2>
            <p class="mb-0">
              Masaż klasyczny to najpopularniejszy z typów masaży. Zwany inaczej
              masażem szwedzkim. Ma bardzo dobry wpływ na nasz organizm.
              Poprawia nasze samopoczucie, zmniejsza napięcia mięśni oraz
              zmniejsza zmęczenie.
            </p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">Masaż Relaksayjny</h2>
            <p class="mb-0">
              Masaż relaksacyjny jest typem masażu, który posiada świetne
              właściwości relaksacyjne i odstresowujące. Masaż relaksacyjny
              wykonuje się wolno i rytmicznie aby wyeliminować napięcie mięśni
              czy stres.
            </p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">Masaż Stemplami Ziołowymi</h2>
            <p class="mb-0">
              Ziołolecznictwo ,masaż, to podstawowe działania tradycyjnej
              medycyny tajskiej. W Tajlandii te elementy są stosowane razem w
              celach profilaktycznych lub leczniczych. Daje nam rozluźnienie i
              ukojenie całego ciała.
            </p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">Masaż Ciepłymi Kamieniami</h2>
            <p class="mb-0">
              Ten masaż da nam ciepło, relaks i odprężenie. W czasie masażu
              używa się kamieni bazaltowych i olejków aromatycznych. Kamienie
              układa się w tzw punktach energetycznych. Następnie wykonuje się
              masaż kamieniami które przynoszą spokój harmonię i równowagę.
            </p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">Masaż Twarzy Kobido</h2>
            <p class="mb-0">
              masaż kobido to rodzaj tradycyjnego japońskiego masażu twarzy .
              Często określa się go metodą niechirurgicznego liftingu twarzy, co
              z pewnością sprzyja jego popularności na całym świecie. stanowi
              zupełnie naturalną i nieinwazyjną alternatywę dla zabiegów
              medycyny estetycznej.
            </p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
        <div class="card bg-light">
          <div class="card-body text-center p-4 p-lg-5">
            <h2 class="fs-4 fw-bold">Peeling Kawitacyjny</h2>
            <p class="mb-0">
              Peeling kawitacyjny jest zabiegiem polegający na usunięciu
              martwych warstw naskórka, za pomocą urządzenia emitującego falę
              ultradźwiękową. Efektem działania peelingu kawitacyjnego jest
              poprawa mikrokrążenia, odżywienia, elastyczności i napięcia skóry,
              oczyszcza skórę z toksyn i zaskórników.Skóra jest dokładnie
              oczyszczona rozświetlona, daje uczucie świeżości.
            </p>
            <button class="btn btn-primary mt-4">Czytaj dalej</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
