<section class="pt-4">
  <header class="py-5">
    <div class="container px-lg-5">
      <div class="p-4 p-lg-5 rounded-3 text-center main-header">
        <div class="m-4 m-lg-5">
          <h1 class="display-5 fw-bold">{{ products[selectedProduct].name }}</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container px-lg-5 text-center">

    <h2>Opis zabiegu</h2>
    <p>{{ products[selectedProduct].desc }}</p>

    <h2>Kiedy Stosować</h2>
    <ul>
      <li>
        {{ products[selectedProduct].when }}
      </li>
    </ul>

    <h2>Zalety</h2>
    <p>{{ products[selectedProduct].prosShort }}</p>

    <h2>Przeciwskazania</h2>
    <p>{{ products[selectedProduct].cons }}</p>

    <h2>Korzyści</h2>
    <p>{{ products[selectedProduct].benefits }}</p>

    <h2 *ngIf="products[selectedProduct].example != null">
      Przykładowa mieszanka
    </h2>
    <p>{{ products[selectedProduct].example }}</p>

    <h2>Czas trwania zabiegu</h2>
    <p>{{ products[selectedProduct].time }} min</p>
  </div>
</section>
